<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ $data_partial := (partial (printf "%s" .Params.data_file) .) }}

        {{ $data_partial }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                    <div class="col-md-9">

                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                    <div class="container-fluid col-md-offset-9">
                      <a href="/register" target="_blank">
                        <img class="img-responsive" src="/img/side-banner.jpg" alt="register now"></a>
                        <a href="{{ .Site.Params.popup.link }}" target="_blank"><img src="{{ .Site.Params.popup.img }}" alt="{{ .Site.Params.popup.alt }}" style="margin: 35px;"></a></div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
