{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white" style="padding-top: 0px;">
    <div class="container">
      <div class="col-md-8" style="margin-left: -15px;margin-right: -15px;">
              <!-- <div class="row"> -->
                    <div class="heading text-center">
                        <h2>Top Courses</h2>
                    </div>

        {{ range $index, $element := sort .Site.Data.features "weight" }}
				<div class="col-md-6" style="margin-left: -10px;margin-right: -10px;">
                    {{ if (not (eq $element.url "")) }}
                      <a href="{{ $element.url }}">
                    {{ end }}
                    <div class="box-simple" style="background-repeat:  no-repeat;background-image: url('img/course/course{{$index}}.jpg');background-size:  contain;min-height: 153px;">
                    </div>
                    {{ if (not (eq $element.url "")) }}
                      </a>
                    {{ end }}
          </div>
		<!-- {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }} -->
		<!-- {{ end }} -->
        {{ end }}
	<!-- </div> -->
</div>
<div class="container-fluid col-md-offset-8">
<!-- <div class="heading">
  <h3>{{ i18n "contactForm" }}</h3>
</div>

<div id="contact-message"></div>

<form class="contact-form" method="post" action="https://formspree.io/{{ .Site.Params.email }}">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
              <label for="name">{{ i18n "contactName" }}</label>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email">{{ i18n "contactMail" }}</label>
                <input type="text" class="form-control" name="email" id="email" required>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
              <label for="message">{{ i18n "contactMessage" }}</label>
                <textarea id="message" class="form-control" name="message" required></textarea>
            </div>
        </div>

        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>{{ i18n "contactSend" }}</button>

        </div>
    </div>
</form>
</div> -->
<div class="heading">
  <h3>News & Alerts</h3>
</div>
<div class="panel" style="box-shadow: 0 0px 4px rgba(0, 0, 0, .5);height: 250px;margin-bottom: 34px;">
                <div class="panel-body" style="overflow: auto;height: 100%;">
                    <p> <span><i class="fa fa-play orange" aria-hidden="true"></i></span>
                        <span class="orange" style="margin-left: 4%;cursor:pointer;" onclick="notification()">SSC CGL 2018 Notification</span>
                        <p class="sidebar-text" onclick="vacancy();"><span style="cursor:pointer;" onclick="vacancy()">SSC CGL Vacancy 2018</span></p>
                        <p class="sidebar-text"><span style="cursor:pointer;" onclick="dates()">SSC CGL 2018 Exam Dates</span></p>
                        <p class="sidebar-text"><span style="cursor:pointer;" onclick="centre()">SSC CGL Exam Centre</span></p>
                    </p>
                    <p> <span><i class="fa fa-play orange" aria-hidden="true"></i></span>
                        <span class="orange" style="margin-left: 4%;cursor:pointer;" onclick="aboutssc()">About SSC CGL Exam</span>
                        <p class="sidebar-text"><span style="cursor:pointer" onclick="pattern()">SSC CGL Exam Pattern</span></p>
                        <p class="sidebar-text"><span style="cursor:pointer" onclick="syllabus()">SSC CGL 2018 Syllabus</span></p>
                        <p class="sidebar-text"><span style="cursor:pointer" onclick="eligibility()">SSC CGL Eligibiltiy Criteria</span></p>
                        <!-- <p class="sidebar-text"><span style="cursor:pointer" onclick="training()"> SSC CGL Pre Exam Training</span></p> -->
                    </p>
                    <p><span><i class="fa fa-play orange" aria-hidden="true"></i></span>
                        <span class="orange" style="margin-left: 4%;cursor:pointer;" onclick="apply()">How to Apply for SSC CGL</span>
                        <p class="sidebar-text"><span style="cursor:pointer" onclick="fee()">SSC CGL Application Fee</span></p>
                        <p class="sidebar-text"> <a href="https://www.careerpower.in/ssc-cgl-admit-card.html" target="_blank" style="color: #333;">SSC CGL Admit Card</a></p>
						<p class="sidebar-text"> <a href='https://www.careerpower.in/ssc-cgl-result.html' target="_blank" style="color:#337ab7">SSC CGL Results</a></span></p>
                    </p>
                    <p><span><i class="fa fa-play orange" aria-hidden="true"></i></span>
                        <span class="orange" style="margin-left: 4%;cursor:pointer;" onclick="prepare()">How to Prepare for SSC CGL</span>
                        <p class="sidebar-text"><span style="cursor:pointer" onclick="cutoff()">SSC CGL Cut off</span></p>
                    </p>
                    <!-- <p><span><i class="fa fa-play orange" aria-hidden="true"></i></span>
                        <span class="orange" style="margin-left: 4%;cursor:pointer;" onclick="faq()">SSC CGL FAQs</span></p> -->
                </div>
            </div>

<a href="https://store.adda247.com/?utm_source=Careerpower&amp;utm_medium=SSC_CGL_2017&amp;utm_campaign=SSC_CGL_test_series&amp;utm_term=test_series&amp;utm_content=online_test#/testseries/description/id=476" target="_blank">
  <img class="img-responsive" style="width: 100%;" src="/img/side-banner.jpg" alt="Video Cources"></a>

    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
