<div class="slidepop">
    <div onclick="hideRight();" class="cont_div_slidepopup " id="bottom_popup">
        <i class="slide_pop_close"><img src="img/crossbutton.png" alt="crossbutton"></i>
        <div class="iconname">
            <a href="{{ .Site.Params.popup.link }}" target="_blank"><img src="{{ .Site.Params.popup.img }}" alt="{{ .Site.Params.popup.alt }}"></a></div>
    </div>
</div>


<script>

    function hide_stone() {
        $(".Standalone_pop").addClass("pop_hide");
        setTimeout(function () {
            $("#gettouchform11").hide();
        }, 300);

    }
    ;

</script>
 <!-- <script  src="js/jquery-2.1.3.min.js"></script>  -->
<script>
    $(document).ready(function () {
        $("#bottom_popup").addClass('appicon_show');
        $("#bottom_popup").removeClass("appicon_hide");

    });
    function hideRight() {
        $("#bottom_popup").removeClass("appicon_show");
        $("#bottom_popup").addClass("appicon_hide");
    }
</script>
