<section class="bar background-white" style="padding-top: 0px;">
  <div class="ltst_updtscntr marquee_strip">
        <div class="main_wrapper">
            <div class="newseven" style="margin-left: 10%;margin-right: 10%;">
                <span class="latest_updt border_right">
                    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                      {{ range $index,$element := sort .Site.Data.marquee "weight" }}
                        <span class="last">&nbsp;
                          <a  href="{{ $element.url }}" >{{ $element.title }}
                            {{ if $element.shownew }}
                            <span class="newimg" style="border-right: 0 solid #333;">
                            </span>
                            {{ end }}
                          </a>
                        </span>
                      {{ end }}
                    </marquee>
                </span>
            </div>
        </div>
    </div>
</section>
