<section class="bar background-white" style="padding-top: 0px;">
  <div class="ltst_updtscntr marquee_strip">
        <div class="main_wrapper">
            <div class="newseven" style="margin-left: 10%;margin-right: 10%;">
                <span class="latest_updt border_right">
                    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">  <!--rk-->
                  <!--<span class="last">&nbsp;<a  href="javascript:void(0);">G.S. Pre cum Main 2018 Regular Batch started from 5th September (5:00 PM - 8:30 PM) at old Rajinder Nagar Centre.<span class="newimg" style="border-right: 0 solid #333;"></span> </a> </span>-->
                  <!--<span class="last">&nbsp;<a  href="javascript:void(0);">Exclusive Batch for CSE (Main) 2017 Current Issues (Mains 101) starting from 10th August, 2017 (1:00 PM - 4:30 PM) at Old Rajinder Nagar Centre<span class="newimg" style="border-right: 0 solid #333;"></span> </a> </span>-->
                                                    <span class="last">&nbsp;<a  href="https://nextias.com/CivilServiceResult" >NEXT IAS : CSE 2017 selected candidates are requested to submit their result. Click here<span class="newimg" style="border-right: 0 solid #333;"></span> </a> </span>
                                                    <span class="last">&nbsp;<a  href="http://cst.nextias.com" >Register now for Civil Services Scholarship Test (CST).<span class="newimg" style="border-right: 0 solid #333;"></span> </a> </span>

                    </marquee>
                </span>
            </div>
        </div>
    </div>
</section>
