{{ if isset .Params "carousel" }}
{{ if gt (len .Site.Data.ssccarousel) 0 }}
<section>
    <!-- <div class="carousel"> -->
      <!-- <img src ="/img/photogrid.jpg" style="position: absolute;width: -moz-available;"> -->
        <!-- <div class="dark-mask"></div> -->
        <!-- <div class="container"> -->
            <div class="homepage owl-carousel">
                {{ range sort .Site.Data.ssccarousel "weight" }}
                <div class="item">
                            <img  src="{{ .image }}" alt="" style="width: 100%">

                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        <!-- </div> -->
    <!-- </div> -->
</section>
{{ end }}
{{ end }}
