{{ if isset .Params "carousel" }}
{{ if gt (len .Site.Data.upsccarousel) 0 }}
<section>
    <div class="home-carousel" style="height: 450px">
      <!-- <img src ="/img/photogrid.jpg" style="position: absolute;width: -moz-available;"> -->
        <!-- <div class="dark-mask"></div> -->
        <div class="container" style="height: 450px">
            <div class="homepage owl-carousel" style="height: 450px">
                {{ range sort .Site.Data.upsccarousel "weight" }}
                <div class="item">
                            <img  src="{{ .image }}" alt="">
                    
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
