{{ if isset .Params "carousel" }}
{{ if gt (len .Site.Data.upsccarousel) 0 }}
<section>
    <div class="home-carousel" style="height: 400px">
      <!-- <img src ="/img/photogrid.jpg" style="position: absolute;width: -moz-available;"> -->
        <!-- <div class="dark-mask"></div> -->
        <div class="container">
            <div class="homepage owl-carousel">
                {{ range sort .Site.Data.upsccarousel "weight" }}
                <div class="item" style="text-align: -moz-right;">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-sm-5 right"> -->
                              <!-- <h1>{{ .title }}</h1>
                              {{ .description | safeHTML }} -->
                        <!-- </div> -->
                        <!-- <div class="col-sm-7"> -->
                            <img  src="{{ .image }}" alt="">
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
